.metatile-container {
	display: block;
	margin: 0 auto;
	max-width: 1200px
}

.metatile {
    background: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,.08);
    margin-bottom: 10px;
    width: calc(100% - 55px);
    padding: 20px;
}

.metatile .icon,
.metadetail-header-infos .icon {
    color: #102d5d;
}

.metatile h2 {
    text-align: left!important;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px
}

.metatile td {
    width: 50%
}

@media (min-width:700px) {
    .metatile {
        padding: 0;
        width: calc(50% - 20px)
    }

    .metatile:nth-child(even) {
        margin-left: 10px
    }
}

.metatile a,.metatile a:hover {
    color: #666!important;
    text-decoration: none
}

.metatile-content {
    padding:  1rem .5rem .5rem .5rem;;
    background: #fff;
    display: grid;
    min-height: 200px
}

.metatile tr td:nth-child(2) {
    text-align: right
}

.metatile-img {
    width: 200px;
    min-height: 200px;
    background-size: cover;
    margin: 0 auto;
    border: 2px solid #fff;
    border-bottom: 0;
    clear: left
}

/* @media (min-width:700px) {
    .metatile-img {
        float: left
    }
} */

/* .metatileicon {
    padding-left: 25px
}

.metatileicon:before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    left: 0;
    background-size: 79%;
    background-position-y: 1px */
/* } */

/* .iconlecturer:before {
    background-image: url([[pix:block_isymetaselect|gly-4-user]])
}

.iconuni:before {
    background-image: url([[pix:block_isymetaselect|gly-90-building]])
}

.iconcourselanguage:before {
    background-image: url([[pix:block_isymetaselect|gly-245-conversation]])
}

.iconsubject:before {
    background-image: url([[pix:block_isymetaselect|gly-508-cluster]])
}

.iconmeta4:before {
    background-image: url([[pix:block_isymetaselect|gly-55-clock]])
}

.iconmeta5:before {
    background-image: url([[pix:block_isymetaselect|gly-592-person-running]])
} */

.block_isymetaselect .action-menu {
    position: absolute;
    top: 10px;
    right: 10px
}

#page-blocks-isymetaselect-pagecoursedetails #page-wrapper #page,.block_isymetaselect,.metatileicon {
    position: relative
}

.block_isymetaselect .card-body {
    padding: 0
}

.block_isymetaselect .card-title {
    padding: 1.25rem;
    margin-bottom: 0
}

.block_isymetaselect .card-text {
    margin-top: 0!important
}

.container-img {
    overflow: hidden;
    height: 250px;
    max-height: 250px;
    max-width: 250px
}

.container-img img {
    width: 100%;
    height: 100%
}

.metadetail-header {
    padding: 30px;
    background: #003f74;
    position: relative;
    margin-bottom: 30px
}

.metadetail-header h2 {
    word-break: break-word
}

.metadetail-header td {
    vertical-align: baseline
}

.metadetail-header-image {
    min-width: 200px;
    min-height: 200px;
    width: 200px;
    background: #d4d4d4;
    display: inline-block;
    position: absolute;
    bottom: -20px;
    z-index: 1
}

.metadetail-header-infos {
    margin-left: 250px;
    font-size: 1rem;
}

.metadetail-header-infos .btn {
    padding: 0 1rem;
}

.metadetail-header-infos table {
    width: 100%
}

@media (min-width:800px) {
    .metatile:nth-child(even) {
        margin-left: 0
    }

    .metatile {
        width: 100%
    }
}

.metadetail-body {
    display: flex;
    flex-wrap: wrap
}

.metadetail-body>div {
    padding-top: 20px
}

.metadetail-body h2,.metadetail-body p {
    padding-right: 20px
}

.metadetail-body h2 {
    word-break: break-word
}

.md-certificateofachievement,.md-learninggoals,.md-lecturer,.md-license,.md-morelecturer,.md-structure,.md-tags,.md-targetgroup,.md-teasertext,.md-teaservideo {
    flex: 100%
}

.md-teaservideo .mediaplugin,.md-teaservideo .mediaplugin video {
    width: inherit
}

.md-teaservideo .mediaplugin video>div,.md-teaservideo .mediaplugin>div {
    max-width: 100%!important
}

@media (min-width:800px) {
    .md-certificateofachievement,.md-learninggoals,.md-license,.md-structure,.md-targetgroup,.md-teasertext,.md-teaservideo {
        flex: 50%
    }

    .md-lecturer,.md-morelecturer,.md-tags {
        flex: 100%
    }
}

.hide-desktop {
    display: none
}

@media (max-width:800px) {
    .metadetail-header {
        background: #102d5d!important
    }

    .metadetail-header-infos {
        margin-left: 0
    }

    .metadetail-header-image {
        display: none
    }

    .metadetail-header td {
        width: 100%;
        display: block;
        color: #fff
    }

    .metadetail-header td:nth-child(even) {
        margin-bottom: 15px
    }
}

.metatag {
    background: #003f74;
    padding: 10px;
    margin-right: 10px;
    display: inline-block;
    margin-bottom: 10px
}

.metatag a,.metatag a:focus,.metatag a:hover {
    color: #fff!important
}

.meta-share {
    padding-top: 10px
}

.meta-share div {
    display: block;
    margin: 0 0 10px;
    position: relative
}

.meta-share a {
    color: #fff!important;
    position: relative;
    display: table;
    margin: 0 auto
}

.meta-share a:before {
    content: "";
    position: absolute;
    top: 6px;
    left: -24px;
    width: 18px;
    height: 18px;
    background-size: 100%;
    background-position: center
}

.meta-share-facebook {
    background-color: #3b5998
}

.meta-share-twitter {
    background-color: #55acee
}

.meta-share-whatsapp {
    background-color: #5cbe4a
}

.meta-share-linkedin {
    background-color: #0077b5
}

.meta-share-xing {
    background-color: #126567
}

.meta-share-mail {
    background-color: #7d7d7d
}

.meta-share-facebook a:before {
    background-image: url([[pix:block_isymetaselect|glyphicons-social-31-facebook]])
}

.meta-share-twitter a:before {
    background-image: url([[pix:block_isymetaselect|glyphicons-social-32-twitter]])
}

.meta-share-whatsapp a:before {
    background-image: url([[pix:block_isymetaselect|glyphicons-social-62-whatsapp]])
}

.meta-share-linkedin a:before {
    background-image: url([[pix:block_isymetaselect|glyphicons-social-18-linked-in]])
}

.meta-share-xing a:before {
    background-image: url([[pix:block_isymetaselect|glyphicons-social-13-xing]])
}

.meta-share-mail a:before {
    background-image: url([[pix:block_isymetaselect|glyphicons-social-14-e-mail-envelope]])
}

@media (min-width:700px) {
    .video-container iframe {
        max-height: 305px
    }

    .meta-share {
        display: flex
    }

    .meta-share a {
        padding-left: 20px
    }

    .meta-share a:before {
        left: -4px
    }

    .meta-share div {
        flex: 100%;
        margin: 0 5px
    }

    .meta-share div:first-child {
        margin-left: 0
    }

    .meta-share div:last-child {
        margin-right: 0
    }
}

.block_isymetaselect {
    max-width: 1200px;
    margin: 0 auto
}

.block_isymetaselect .fitemtitle,.block_isymetaselect .mform .fitem .col-md-3 {
    display: none!important
}

.block_isymetaselect .fselect {
    margin-left: 0!important
}

.block_isymetaselect select {
    width: 100%!important;
    margin-left: 0!important
}

.block_isymetaselect fieldset>div {
    display: flex
}

.block_isymetaselect .fitem {
    flex: calc(100%/3)!important
}

.nocoursefound {
    font-size: 18px;
    text-align: center;
    display: block;
    padding: 20px;
    background: #203f9814;
    color: #003f74
}

@media (min-width:700px) {
    .metatile {
        width: calc(100% - 15px)!important
    }
}

.metadetail-header-image {
    background-size: cover
}

.block_isymetaselect {
    margin-top: 20px!important
}

@media (max-width:700px) {
    .block_isymetaselect .fitem_fselect {
        flex: 100%!important
    }

    .block_isymetaselect fieldset>div {
        display: block;
        padding: 10px
    }
}

.metalink,.metalink:hover {
    color: rgba(255,255,255,.3)!important;
    font-size: 15px
}

@media (min-width:700px) {
    .block_isymetaselect .fitem {
        margin-right: 10px
    }

    .block_isymetaselect .fitem:last-child {
        margin-right: 0
    }
}

.block_isymetaselect #fitem_id_submitbutton {
    background-color: transparent;
    padding: 0;
    border: 0;
    margin: 0;
    flex: 0!important
}

.block_isymetaselect .fbutton,.block_isymetaselect .fsubmit {
    margin-left: 0!important
}

.block_isymetaselect .ftext {
    margin: 0!important;
    flex: 0!important
}

.block_isymetaselect #id_search {
    padding-bottom: 7px;
    padding-top: 7px
}

.block_isymetaselect #fitem_id_search {
    margin: 0;
    flex: 0!important
}

.block_isymetaselect .id_submitbutton {
    margin-bottom: 0
}

.block_isymetaselect #mform1 fieldset>div {
    float: right;
    clear: both
}

@media (max-width:700px) {
    .block_isymetaselect #mform1 fieldset>div {
        float: none
    }

    .block_isymetaselect #fitem_id_search {
        width: calc(100% - 15px)
    }

    .block_isymetaselect #id_search {
        width: 100%
    }

    .block_isymetaselect .fsubmit {
        padding: 0!important
    }

    .block_isymetaselect #id_submitbutton {
        width: 100%;
        margin: 0!important
    }
}

.metadetail-header .btn:hover {
    background-color: #cee8ff!important;
    color: #003f74!important
}

.lecturer_container {
    margin-bottom: 1rem
}

.lecturer_imgcontainer {
    padding-top: 0!important
}

.lecturer_imgcontainer img {
    display: block;
    margin: 0 auto;
    max-width: 180px
}

@media (min-width:800px) {
    .lecturer_imgcontainer img {
        padding-right: 20px;
        display: inline-block
    }

    .lecturer_container {
        display: flex
    }

    .lecturer_text {
        padding-top: 0!important
    }
}

.free {
    font-size: 20px
}

@media (max-width:800px) {
    .hide-small .free {
        display: none!important
    }
}

@media (max-width:930px) {
    .block_isymetaselect {
        margin: 0 10px
    }

    .metatile:nth-child(even) {
        margin-left: 0!important
    }
}

.metadetail-body ul,ol {
    margin-left: 15px!important;
    margin-right: 20px!important
}

.vhbinfo {
    padding-bottom: 20px
}

.lecturer-noimg img {
    padding-right: 0;
    display: none
}

div.metatile-img div.icon-coming-soon {
    position: relative;
    width: 75px;
    height: 75px;
    z-index: 10;
    left: -57px;
    top: -10px;
    background: url([[pix:block_isymetaselect|coming_soon]]);
    background-size: cover
}

#page-block-isymetaselect-pagecoursedetails div.metatile-img div.icon-coming-soon {
    left: -50px;
    top: -40px
}

@media (min-width:700px) and (max-width:1120px) {
    div.metatile-img div.icon-coming-soon {
        left: 0;
        top: 0
    }
}

.block_isymetaselect.card {
    border: 0;
    margin-top: 0!important
}

.block_isymetaselect .card-title {
    font-size: 30px;
    padding: 0 0 10px
}

.block_isymetaselect .mform {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: 14px;
    justify-content: flex-end
}

.block_isymetaselect .mform .form-group {
    margin: 0!important
}

.block_isymetaselect .mform .col-md-9 {
    display: block;
    flex: unset;
    max-width: 100%;
    padding: 5px 0 5px 5px;
    width: auto
}

.block_isymetaselect .mform #fitem_id_search .col-md-9 {
    width: auto
}

.block_isymetaselect .mform #fitem_id_search {
    flex: 0!important
}

.block_isymetaselect #id_search {
    width: 250px
}

@media (max-width:767px) {
    .block_isymetaselect .mform {
        flex-wrap: wrap
    }
}

#page-blocks-isymetaselect-pagecoursedetails #page-wrapper {
    height: auto
}

#page-blocks-isymetaselect-pagecoursedetails .page-header-headings,.emptyteaser {
    display: none
}

#page-blocks-isymetaselect-pagecoursedetails #region-main {
    max-width: 1200px;
    margin: 0 auto 20px
}

.eupopup-body a,.metaedit {
    color: #fff
}

.metaedit {
    position: relative
}

.metaedit i {
    color: #102d5d;
    position: absolute;
    left: 5px;
    top: 8px
}

.metadetail-body a {
    color: #d4004b
}

.block_isymetaselect .card-title {
    display: none!important
}

.metatile {
    font-size: 14px;
    border: 1px solid #102d5d21;
}

.metadetail-header h2 {
    color: #2c2b43;
    font-weight: 400;
}

.metadetail-header {
    background: #fff;
    color: #4e4e4e;
    border-bottom: 10px solid #102d5d
}

.metadetail-header .btn {
    background-color: #102d5d!important;
    color: #fff!important
}

.icon-coming-soon {
    display: none
}

#fitem_id_meta6 .felement {
    padding-left: 0
}

.metatile {
    width: 100%!important
}

.block_isymetaselect input,.block_isymetaselect select {
    font-size: 14px
}

.metatile h2 {
    color: #102d5d
}

.metatile-img {
    background-color: #102d5d;
}

.metatileicon:before {
    top: 3px
}

#fitem_id_meta2 .felement {
    padding-right: 5px;
    padding-left: 0
}

.block_isymetaselect .fitem {
    flex: inherit!important
}

.metadetail-header td:nth-child(2n+1) {
    font-weight: 600
}
 
@media (max-width:576px) {
    .block_isymetaselect select {
        width: 100%!important;
        margin-left: 0!important
    }

    .block_isymetaselect #fitem_id_submitbutton,.block_isymetaselect .fitem,.block_isymetaselect .mform #fitem_id_search {
        flex: 100%!important
    }

    .block_isymetaselect .felement {
        width: 100%!important;
        padding: 0 0 5px!important
    }

    .block_isymetaselect [type=submit] {
        width: 100%;
        flex: none!important
    }

    .block_isymetaselect #id_search {
        width: 100%
    }

    .metadetail-header {
        border-bottom: 0
    }

    .metadetail-header h2 {
        color: #fff
    }

    .btn-sign {
        border: 1px solid
    }
}

.block_isymetaselect .content {
    width: inherit
}

#block-region-side-post .block.block_isymetaselect .content {
    padding-bottom: 40px
}

/* sponsors */
.md-sponsors {
    text-align: center;
}

.md-sponsors .sponsor_container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.md-sponsors .sponsor_container::after {
    content: "";
    flex: auto;
}

.md-sponsors .sponsor_imgcontainer {
    max-width: calc(100% / 2);
    padding: 0 1rem;
}

@media(min-width: 700px) {
    .md-sponsors .sponsor_imgcontainer {
        max-width: calc(100% / 3);
    }
}

@media(min-width: 900px) {
    .md-sponsors .sponsor_imgcontainer {
        max-width: calc(100% / 5);
    }

    .md-sponsors .sponsor_container::after {
        flex: inherit;
    }
}


.md-sponsors .sponsor_imgcontainer img {
    width: 100%;
}

@media (max-width: 800px) {
    .metadetail-header h2 {
        color: #fff;
    }

    .metadetail-header .btn {
        background: #fff !important;
        color: #102d5d !important;
        padding: .25rem 1rem .30rem;
    }

    .metadetail-header-infos .icon {
        color: #fff;
    }
}

.metatile {
    overflow: hidden;
}

.metatile-img {
    /* box-shadow: 10px 10px 0px #102d5d1a; */
    margin-top: .5rem;
}

.md-sponsors {
	flex: 100%;
}

.metatile-grid {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1rem;
}

@media(max-width: 1300px) {
    .metatile-grid {
        grid-template-columns: repeat(3,1fr);
    }
}

@media(max-width: 960px) {
    .metatile-grid {
        grid-template-columns: repeat(2,1fr);
    }
}

@media(max-width: 740px) {
    .metatile-grid {
        grid-template-columns: 1fr;
    }
}

/* temporary */
.block_isymetaselect form[id*='mform2'] {
    display: none;
}