{{!                                                                                                                                 
    This file is part of Moodle - http://moodle.org/                                                                                
                                                                                                                                    
    Moodle is free software: you can redistribute it and/or modify                                                                  
    it under the terms of the GNU General Public License as published by                                                            
    the Free Software Foundation, either version 3 of the License, or                                                               
    (at your option) any later version.                                                                                             
                                                                                                                                    
    Moodle is distributed in the hope that it will be useful,                                                                       
    but WITHOUT ANY WARRANTY; without even the implied warranty of                                                                  
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the                                                                   
    GNU General Public License for more details.                                                                                    
                                                                                                                                    
    You should have received a copy of the GNU General Public License                                                               
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.                                                                 
  }}                                                                                                                                  
  {{!                                                                                                                                 
    @template block/ocmyproducts                                                                                                        

    detalpage of ildmetaselect
                                                                                                                                    
    Classes required for JS:                                                                                                        
    * none                                                                                                                        
                                                                                                                                    
    Data attributes required for JS:                                                                                                
    * none                                                                                                                
                                                                                                                                    
    Context variables required for this template:
    * url
    * teasertext
    * videocode
    * learninggoals
    * gliederung
    * alllecturers
    * allauthors
    * detailsmorelecturer
    * targetgroup
    * certificate
    * license
    * taglist
    * tagurlarray

    * coursetitle
    * edit_string
    * lecturer
    * uni
    * language
    * subject
    * processingtime
    * starttime
    * fileurl

    * is_enrolled
    * alllecturers_notempty
    * allauthors_notempty
                                                                                                                                    
  }}

  <div class="metadetail-container">
	<div class="metadetail-header">
		<div class="metadetail-header-image metatile-img" style="background-image:url('{{fileurl}}');">
    {{^started}}
      <div class="icon-coming-soon"></div>
    {{/started}}
		</div>
		<div class="metadetail-header-infos">
			<h2>{{{coursetitle}}} {{{edit_string}}}</h2>
			<table>
				<tr>
					<td>Anbieter*innen:</td>
					<td>{{{lecturer}}}</td>
				</tr>
				<tr>
					<td>Anbietende Hochschule:</td>
					<td>{{{uni}}}</td>
				</tr>
				<tr>
					<td>Kurssprache:</td>
					<td>{{language}}</td>
				</tr>
				<tr>
					<td>Wissensgebiet:</td>
					<td>{{subject}}</td>
          {{#started}}<td class="hide-small"><strong class="free">Kostenfrei</strong></td>{{/started}}
				</tr>
				<tr>
					<td>Durchschnittlicher Arbeitsaufwand:</td>
					<td>{{processingtime}} Stunden</td>
					{{^started}}
          <td class="hide-small"><strong class="free">Kostenfrei</strong></td>
          {{/started}}

          {{#started}}
          <td class="hide-desktop"><strong class="free">Kostenfrei</strong></td>
					{{#is_enrolled}}
            <td class="hide-small"><a class="btn btn-sign" href="{{{url}}}">zum Kurs</a></td>
          {{/is_enrolled}}
          {{^is_enrolled}}
            <td class="hide-small"><a class="btn btn-sign" href="{{{url}}}">Einschreiben</a></td>
          {{/is_enrolled}}
          {{/started}}

        </tr>
				{{^started}}
				<tr>

          <td>Kursbeginn:</td>
					<td>{{starttime}}</td>
					<td class="hide-desktop"><strong class="free">Kostenfrei</strong></td>
					{{#is_enrolled}}
            <td class="hide-small"><a class="btn btn-sign" href="{{{url}}}">zum Kurs</a></td>
          {{/is_enrolled}}
          {{^is_enrolled}}
            <td class="hide-small"><a class="btn btn-sign" href="{{{url}}}">Einschreiben</a></td>
          {{/is_enrolled}}
				</tr>
        {{/started}}
			</table>
		</div>
	</div>

	<div class="meta-share">
		<div class="meta-share-facebook"><a href="https://www.facebook.com/sharer/sharer.php?u={{{url}}}">teilen</a></div>
		<div class="meta-share-twitter"><a href="https://twitter.com/intent/tweet?url={{{url}}}">tweeten</a></div>
		<div class="meta-share-whatsapp"><a href="whatsapp://send?text={{{url}}}">teilen</a></div>
		<div class="meta-share-linkedin"><a href="https://www.linkedin.com/shareArticle?mini=true&amp;summary=&amp;url={{{url}}}">teilen</a></div>
		<div class="meta-share-xing"><a href="https://www.xing.com/social_plugins/share?url={{{url}}}">teilen</a></div>
		<div class="meta-share-mail"><a href="mailto:?subject={{coursetitle}}&amp;body={{{url}}}">teilen</a></div>
	</div>

	<div class="metadetail-body">

		<div class="md-teasertext">
    {{#teasertext}}
      <h2>Was erwartet Sie in diesem Kurs?</h2>
      {{{teasertext}}}
    {{/teasertext}}
    </div>
		<div class="md-teaservideo">
    {{#videocode}}
      {{{videocode}}}
    {{/videocode}}
    </div>
		<div class="md-learninggoals">
    {{#learninggoals}}
      <h2>Was können Sie in diesem Kurs lernen?</h2>
      {{{learninggoals}}}
    {{/learninggoals}}
    </div>
		<div class="md-structure">
    {{#gliederung}}
      <h2>Gliederung</h2>
      {{{gliederung}}}
    {{/gliederung}}
    </div>
		<div class="md-lecturer">
    {{#alllecturers_notempty}}
    <h2>Anbieter*innen</h2>
    {{/alllecturers_notempty}}
    {{#alllecturers}}
      <div class="lecturer_container"><div class="lecturer_imgcontainer {{class}}"><img src="{{img}}"/></div><div class="lecturer_text">{{{div}}}</div></div>
    {{/alllecturers}}
    </div>
    	<div class="md-lecturer">
      {{#allauthors_notempty}}
        <h2>Weitere Autoren*innen</h2>
      {{/allauthors_notempty}}
      {{#allauthors}}
        <div class="lecturer_container"><div class="lecturer_imgcontainer {{class}}"><img src="{{img}}"/></div><div class="lecturer_text">{{{div}}}</div></div>
      {{/allauthors}}
      </div>
		<div class="md-morelecturer">
    {{#detailsmorelecturer}}
      <h2>Weitere Autoren*innen</h2>
      {{{detailsmorelecturer}}}
    {{/detailsmorelecturer}}
    </div>
		<div class="md-targetgroup">
    {{#targetgroup}}
      <h2>Zielgruppe</h2>
      {{{targetgroup}}}
    {{/targetgroup}}
    </div>
		<div class="md-certificateofachievement">
    {{#certificate}}
      <h2>Teilnahmebestätigung</h2>
      {{{certificate}}}
    {{/certificate}}
    </div>
		<div class="md-license">
    {{#license}}
      <h2>Lizenz</h2>
      {{{license}}}
    {{/license}}
    </div>
		<div class="md-tags">
    {{#taglist}}
      <span class="metatag"><a href="{{url}}">{{tag}}</a></span>
    {{/taglist}}
    </div>
	</div>
</div>